.game-field{
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31);
}

.game-field__cell{
  width: 50px;
  height: 50px;
  color: white;
  border: 2px solid #006582;
  box-sizing: border-box;

  &:hover{
    background: rgb(9, 56, 67);
  }
}

@media  (max-width: 360px){
  .game-field__cell {
    width: 25px;
    height: 25px;
  }

  .game-field {
    font-size: 10px;
  }

}

@media  (min-width: 360px) and (max-width: 400px){
  .game-field__cell {
    width: 29px;
    height: 29px;
  }

  .game-field {
    font-size: 14px;
  }

}

@media  (min-width: 400px) and (max-width: 576px){
  .game-field__cell {
    width: 30px;
    height: 30px;
  }

  .game-field {
    font-size: 16px;
  }

}


@media  (min-width: 576px) and (max-width: 767px){
  .game-field__cell {
    width: 35px;
    height: 35px;
  }

  .game-field {
    font-size: 20px;
  }

}

@media  (min-width: 767px) and (max-width: 992px){
  .game-field {
    margin: 0 auto 20px;
  }
}

.mark-win{
  color: #9d77ff;
}
