.game-field{
  font-size: 25px;
  margin: 0 auto;
  text-align: center;

  max-width: 600px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31);
}

.game-field__cell{
  width: 50px;
  //padding: 40px;
  height: 50px;
  //text-align: center;
  //vertical-align: middle;
  //margin: auto;
  color: white;
  border: 2px solid #006582;
  box-sizing: border-box;

  &:hover{
    background: rgb(9, 56, 67);
  }
}

@media  (max-width: 576px){
  .game-field__cell {
    width: 25px;
    height: 25px;
  }

  .game-field {
    font-size: 13px;
    max-width: 300px;
    margin: 0 auto 20px;
  }

}


@media  (min-width: 576px) and (max-width: 768px){
  .game-field__cell {
    width: 35px;
    //padding: 40px;
    height: 35px;
  }

  .game-field {
    margin: 0 auto 20px;
    max-width: 420px;
    font-size: 20px;
  }

}

@media  (min-width: 768px) and (max-width: 992px){
  .game-field {

    margin: 0 auto 20px;
  }
}

.mark-win{
  color: #9d77ff;
}
